
<div class="grid page-width">
  <div class="grid__item custom-background" style="background-image: url({{'background-image.jpeg' | asset_img_url: "" }})">
  <div class="grid__item inner-img" style="background-image: url({{'inner-img.jpg' | asset_img_url: "" }})">
  
  </div> 
  </div>
</div>


{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
