

        
          <div class="coral-reef-safe left-by-side three-quarters relative">
           <img src="{{section.settings.image | img_url: ""}}" class="img">
            <div class="overlay">
                <h1>{{section.settings.title}}</h1>
              {{section.settings.detail}}
            </div>
          </div>


     


{% schema %}
  {
    "name": "Mint section 6",
    "settings": [

		{
            "type": "text",
            "id": "title",
            "label": "title"
          },
		{
            "type": "richtext",
            "id": "detail",
            "label": "Detail"
          },
		{
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }

	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
