 
      

<div class="top-banner one-whole relative">
            <img src="{{section.settings.image | img_url: ""}}" class="img">
            <div class="overlay">
                <h1>{{section.settings.title}}</h1>
            </div>
        </div>


{% schema %}
  {
    "name": "Mint section 0",
    "settings": [

		{
            "type": "text",
            "id": "title",
            "label": "title"
          },
		{
            "type": "richtext",
            "id": "detail",
            "label": "Detail"
          },
		{
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }

	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
