<div class="page-width page-content">

 

  {% section 'about-banner' %}
  {% section 'about-section-2' %}
  {% section 'about-section-3' %}
  {% section 'about-section-4' %}
  {% section 'about-section-5' %}


  
</div>

{% section 'page--mints'%}



<style>
  a.findoutmore {
    color: #1FFC67;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Basic Commercial';
}
  
  .grid.main-grid-4 {
    max-width: 50%;
    margin: auto;
}
  
 .findoutmore img {
      vertical-align: bottom;
    position: relative;
    top: 10px;
  }
  
  .mints-promotions {
    padding-bottom: 38px;
}
  
  .mints-promotions .image-wrap {
    background: transparent !IMPORTANT;
    /* background: var(--colorSmallImageBg); */
    overflow: hidden;
}
  
.mints-promotions .grid__image-ratio--cover.grid__image-ratio--square {
    background-color: transparent !important;
}
  
 .mints-promotions .grid__image-ratio--cover {
    background-size: 50%;
    text-align: center;
    margin: auto;
    background-position: center;
}
  
  .title span {
    border-bottom: 5px solid #1FFC67;
    padding-bottom: 3px;
}
  

  #shopify-section-page--mints {
    background: #FBF1E8;
    padding: 40px 0px;
    margin-top: 6em;
    padding-top: 6em;
}
  
  h1.mmint-title.text-left {
    padding-left: 35px;
    margin-bottom: 1em;
}
  
  .main-grid-6 .image-bg-col {
    margin-left: 3em;
}
  
  
  
.main-grid-6 {
    margin-top: 5rem;
}
  
  .text-section-6 p {
    font-family: 'MarrSans-Regular-Web';
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    /* margin-right: 2em; */
}
  
  
.text-section-5 {
    margin-left: 10em;
}
  
.main-grid-4 {
    margin-top: 5em;
    margin-left: 4em;
}
  
  .image-bg-col {
/*     background: #777776; */
        transform: rotate(360deg);
}
  
  .text-section-5 p {
    font-family: 'MarrSans-Regular-Web';
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
}
  
  .text-apra p {
    /* font-family: 'MarrSans-Regular-Web'; */
    /* line-height: 26px; */
    font-family: 'MarrSans-Regular-Web';
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
}
  
  
  .main-grid-5 .title ,   .main-grid-6 .title{
/*     text-decoration: underline;
    text-decoration-color: #1FFC67; */
    line-height: 50px;
    padding-bottom: 60px;
    /* border-bottom: 2px solid; */
}
  
/*   .image-bg-col::after {
    content: " ";
    border: 2px solid #1FFC67;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 18px;
    left: 26px;
    z-index: 1;
    transform: rotate(2deg);
} */
  .main-grid-5 {
    margin-top: 8em;
    margin-left: 50px;
}
  
  h1.headin-4::after {
    content: " ";
    border: 2px solid #1FFC67;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 33px;
    z-index: -1;
}
  
  
  h1.headin-4 {
    line-height: 55px;
    transform: rotate(9deg);
    padding-top: 76px;
    margin-left: -47px;
     position: relative;
    z-index: 999;
}
  
  
 .rotate-text {
    background: #FBF1E8;
    padding: 20px;
    transform: rotate(354deg);
}
  

  
  .grid.main-grid-about {
    position: relative;
}
  
.overlay-content {
    position: absolute;
    bottom: -13rem;
    z-index: 999;
    max-width: 50%;
    right: 8%;
}
  
h1.about-heaing {
    font-size: 70px;
    margin-left: -9rem;
    margin-top: 7rem;
}
  
h1.headin-2 {
    font-family: 'Romano-Nero' !important;
    font-size: 44px;
    line-height: 53px;
    text-transform: uppercase;
    letter-spacing: 4px !important;
    font-weight: 100 !important;
    /* padding-left: 200px; */
}
  
  .grid.main-grid-2 {
    padding-left: 4em;
}
  
  .text-apra {
    max-width: 50%;
    margin: auto;
}
  
/*   .bg-image-grid{
    background-image: url({{'bg-abt.jpg' | asset_img_url: ""}});
        background-size: cover;
    height: 343px;
    background-position: center;
  } */
  
  @media screen and (max-width: 640px) {
  

  
  .text-apra {
    max-width: 75%;
    margin: auto;
    margin-right: 0;
}
  
h1.headin-4 {
    font-size: 21px;
    line-height: 35px;
    margin-top: 6px;
    padding-top: 1px;
    margin-left: -37px;
    transform: rotate(7deg);
}
h1.headin-4::after {
    width: 97%;
    top: -13px;
    left: 24px;
    z-index: -1;
}
    .text-section-5 {
    margin-left: 0em;
}
.main-grid-5 .title, .main-grid-6 .title {
    line-height: 46px;
    /* border-bottom: 2px solid; */
    font-size: 18px;
}
    
    .main-grid-5 {
    margin-left: 1em;
}
    
    .main-grid-4 {
    
    margin-left: 1em;
}
  
}
  
</style>