<div class="page-width page-content">

   <div class="grid-wrapper">
     
     {% section 'mint-0' %}
     {% section 'mint-1' %}
     {% section 'mint-2' %}
     {% section 'mint-3' %}
     {% section 'mint-4' %}
     {% section 'mint-5' %}
     {% section 'mint-6' %}
     {% section 'mint-7' %}
     
    
      
      
      </div>
  
</div>



  
<style>
.grid-wrapper  .shopify-section {
    margin-bottom: 2em;
}

      .img{max-width: max-content;width: 100%;}
      .relative{position: relative;}
      .top-banner{text-align: center;max-width: 1440px;width: 100%;margin: 0 auto 60px;}
      .top-banner .overlay{position:absolute;bottom: 00%;left:50px;}
      .top-banner .overlay h1{font-size: 120px;color:#000;text-transform: uppercase;line-height:120px;text-align: left;}
      .alone-para{max-width: 1440px;width: 100%;margin: 0 auto 60px;    margin-bottom: 6em;}
  .alone-para .inner{background-image: url({{'bgg-11.png' | asset_img_url: ""}});background-repeat: no-repeat;background-size: 100% 100%;padding: 5%;max-width: 823px;width: 100%;margin: 0 0 0 auto;}
      .alone-para .inner p{color: #333;font-size: 25px;}
      .vegan{margin-bottom: 50px;}
      .organic{margin:0 0 50px auto;text-align: right;}
      .natural{margin-bottom: 50px;}
      .plastic-free{margin:0 0 50px auto;text-align: right;}
      .coral-reef-safe{margin-bottom: 50px;}
      .refillable{margin:0 0 50px auto;text-align: right;}
      .left-by-side .overlay{position: absolute;text-align: left;top: 55%;transform: translateY(-50%);left:670px;width: 50%;}
      .right-by-side .overlay{position:absolute;text-align: left;top: 55%;transform: translateY(-50%);right: 670px;width: 50%;}
      .left-by-side .overlay h1{font-size: 64px;color:#000;text-transform: capitalize;}
      .right-by-side .overlay h1{font-size: 64px;color:#000;text-transform: capitalize;}
      .left-by-side .overlay p{font-size: 25px;}
      .right-by-side .overlay p{font-size: 25px;}
      
      @media(max-width:1440px){
        .top-banner img{width: 100%;max-width: 800px;}
        .top-banner .overlay h1{font-size:65px;line-height: 65px;}
        .alone-para .inner{max-width: 700px;margin-right: 69px;}
        .alone-para .inner p{font-size: 16px;}
        .left-by-side img , .right-by-side img{width: 100%;max-width: 550px;}
        .left-by-side .overlay h1{font-size: 35px;}
        .right-by-side .overlay h1{font-size: 35px;}
        .left-by-side .overlay p{font-size: 20px;}
      .right-by-side .overlay p{font-size: 20px;}
        .left-by-side .overlay{left:28vw;width: 70%;top: 65%;}
        .right-by-side .overlay{right: 30vw;width: 70%;top: 65%;}


      }
      @media(max-width:1320px){
        .top-banner .overlay h1{font-size: 60px;line-height: 60px;}
        .left-by-side .overlay{left:370px;width: 70%;top: 65%;}
        .right-by-side .overlay{right: 370px;width: 70%;top: 65%;}
        .left-by-side .overlay p{font-size: 18px;}
      .right-by-side .overlay p{font-size: 18px;}
      }
      @media(max-width:992px)
      {
  
        .top-banner .overlay h1{font-size: 55px;line-height: 55px;}
        .left-by-side .overlay h1{font-size: 45px;}
        .right-by-side .overlay h1{font-size: 45px;}
        .alone-para .inner p{font-size: 15px;}
        .left-by-side .overlay{top:58%;}
        .right-by-side .overlay{top: 58%;}
        .left-by-side .overlay p{font-size: 17px;}
        .right-by-side .overlay p{font-size: 17px;}
      }
      @media(max-width:768px)
      {
        .top-banner .overlay{left: 25px;}
        .top-banner .overlay h1{font-size: 50px;line-height: 50px;}
        .left-by-side .overlay h1{font-size: 32px;}
        .right-by-side .overlay h1{font-size: 32px;}
        .left-by-side img, .right-by-side img{width: 69%;max-width:unset;}
        .alone-para .inner p{font-size: 14px;}
        .left-by-side .overlay{top:65%;left:46vw;width: auto;}
        .right-by-side .overlay{top: 65%;right: 46vw;width: auto;}
        .left-by-side .overlay p{font-size: 16px;}
        .right-by-side .overlay p{font-size: 16px;}
        .three-quarters{width: 100%;}
      }
      @media(max-width:575px)
      {
        
        .top-banner .overlay{left: 15px;bottom: -15px;}
        .top-banner .overlay h1{font-size:45px;line-height: 45px;}
        .left-by-side img , .right-by-side img{width: 50%;}
        .left-by-side .overlay{left: 34vw;width:auto;}
        .right-by-side .overlay{right:35vw;width:auto;padding-left: 10px;}
        .left-by-side .overlay h1{font-size: 30px;}
        .right-by-side .overlay h1{font-size: 30px;}
        .alone-para .inner p{font-size: 12px;}
        .left-by-side .overlay{top:65%;}
        .right-by-side .overlay{top: 65%;}
        .left-by-side .overlay p{font-size: 12px;}
        .right-by-side .overlay p{font-size: 12px;}
      }
      @media(max-width:460px)
      {
        .top-banner .overlay h1{font-size:38px;line-height: 38px;}
        .left-by-side .overlay{top:90%;}
        .right-by-side .overlay{top: 75%;}
        .left-by-side .overlay h1{font-size: 18px;}
        .right-by-side .overlay h1{font-size: 18px;}
        .alone-para .inner p{font-size: 12px;}
        .left-by-side .overlay p{font-size: 10px;     margin: 0;}
        .right-by-side .overlay p{font-size: 10px;     margin: 0;}
        
        .vegan {
    margin-bottom: 109px;
}
     
        .organic , .natural ,.plastic-free , .coral-reef-safe {
    margin-bottom: 100px;
}
        
      }

  </style>